@media (max-width: 767px) {

.top {
    &__content {
        align-items: center;
    }

    &__heading {
        font-size: 40px;
        line-height: 49px;
        text-align: center;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }
    &__btn {
        width: 285px;
        margin-bottom: 182px;
    }
}

.card-game__item {
    grid-column: span 8;
    }

.games {
    display: none;
}

}