* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.centered {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{ 
    background: rgb(225, 255, 143);
    height: 800px;

    &__heading {
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 196px;
    margin-bottom: 24px;
    }

    &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

    &__text {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 48px;
    }

    &__btn {
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    padding: 16px 28px;
    width: 247px;
    margin-bottom: 246px;
    cursor: pointer;
    }
    
    &__btn:hover {
      color: rgb(0, 0, 0);
      background: rgb(255, 255, 255);
    }

}

span {
    font-weight: bold;
}

.games {
  padding-bottom: 50px;
  background: rgb(32, 32, 39);
  &__about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    }

  &__heading {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 94px;
  }

  &__text {
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 72px;
  }
}

.card-game {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-items: start;

  &__item {
    border-radius: 30px;
    grid-column: span 4;
    background-color:#FFFFFF;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    }

  &__item:nth-child(2) {
    align-self: start;
  }

  &__item:nth-child(5) {
      align-self: end;
  }

  &__item:hover {
    transform: scale(1.05);
    cursor: pointer;
  } 

  &__img {
    border-radius: 30px;
    width: 100%;
    height: auto;
  }

  &__overlay {
    padding: 36px 32px;
  }

  &__heading {
    padding: 8px 16px 10px 16px;
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
  }

  &__text {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
  }
}


.games-mini {
  padding-bottom: 144px;
  background: rgb(32, 32, 39);
  border-top: 1px solid #99d003;
  
  &__about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: inherit;
  }

  &__heading {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 46px;
    margin-bottom: 72px;
  }
}

.card-game-mini {
    display: grid;
    row-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-items: start;

  &__item {
    border-radius: 45px;
    grid-column: span 12;
    background-color:#FFFFFF;
    text-decoration: none;
  }

  &__img {
    border-radius: 45px;
    width: 713px;
    height: auto;
  }

  &__overlay {
    padding: 48px;
    width: 600px;
  }

  &__text {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__description {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 36px;
  }

  &__btn {
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    padding: 16px 76px;
  }

  &__btn:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: rgb(0, 0, 0) 1px solid;
  }
}

.card-mini {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  
    &_reverse {
      flex-direction: row;
    }
}

.footer {
  background: rgb(189, 237, 53);
  padding: 61px;
  display: flex;
  justify-content: space-around;

  &__heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
  }
}


@import 'mobile';
@import 'tablet';




